@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.app-header{
  text-align: center;
  padding: 10px;
}

.header{
  font-family: 'Azeret Mono', monospace;
  font-size: 30px;
  margin-bottom: 2px;
}

.header2{
  font-family: 'Azeret Mono', monospace;
  margin-top: 1px;
  padding-bottom: 10px;
}
.app-body{
  padding: 20px;
  text-align: center;
}

.yo {
  padding-top: 20px;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #000000 0%, #000000 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.p {
  text-align: left;
  padding: 30px;
  font-family: 'Azeret Mono', monospace;
}